$color-letra: #C8B8ED;
$color-secundario: #B130FA;
$color-destacable: #FF1CC1;
$fuente-tipica: sans-serif, Helvetica, Arial;
$color-button-1: #284E98;
$color-button-2: #24336C;
$color-border: #4DD7F1;
$color-link: #EFEFEF;

h1{
	color: $color-destacable;
	font-family: $fuente-tipica;
}

h4{
	color: $color-secundario;
}

p{
	color: $color-letra;
	font-size: 1.1rem;
	font-weight: 500;
}

.proyects #text-encryptor{
	width: 30rem;
	border-radius: 8px;
}

.proyects .button{
	width: 13rem;
	padding: .6rem 1rem;
	border: 1px solid $color-border;
	border-radius: 4px;
	background-color: $color-button-2;

	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
    0 1px 3px rgba(0,0,0,.2);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,$color-button-1),to($color-button-2));
	background-image: linear-gradient($color-button-1 10%,$color-button-2 100%);
    cursor: pointer;
}

.proyects .button:hover, .proyects .button:focus {
	background-color: $color-button-1;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,$color-border),to($color-button-1));
	background-image: linear-gradient($color-border 10%, $color-button-1 100%);
}

.proyects .button a{
	color: $color-link;
	font-size: 0.95rem;
	font-weight: 600;
}

.proyects .button-image{
	width: 3rem;
}