$color-bg: #141c3d;
$color-borde: #8BB5E9;
$text-color:#E3DFED;

.footer{
	width: 100%;
	text-align: center;
	background-color: $color-bg;
	border-top: 0.4rem solid $color-borde;
}

.footer .flex{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.footer img{
	width: 7.5rem;
}

.footer h5, .footer h6{
	color: $text-color;
}
