$color-bg-card: #3C8AE2;
$color-border: #8AB3EC;
$color-texto: #45367E;


.card-languages{
	width: 23rem;
	background-color: $color-bg-card;
	text-align: center;
	margin: 1.5rem 1.175rem;
	border: 8px solid $color-border;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 0 0 1px $color-border, 0.1em 0.1em 1em $color-border;
}

.card-languages h3{
	font-size: 1.8rem;
	font-weight: bold;
}

.card-languages p{
	font-size: 1.3rem;
	font-weight: 800;
	color: $color-texto;
}

.card-languages img{
	max-width: 4.5rem;
	max-height: 4.5rem;
}