.card-languages {
	width: 23rem;
	background-color: #3C8AE2;
	text-align: center;
	margin: 1.5rem 1.175rem;
	border: 8px solid #8AB3EC;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 0 0 1px #8AB3EC, 0.1em 0.1em 1em #8AB3EC;
}

.card-languages h3 {
	font-size: 1.8rem;
	font-weight: bold;
}

.card-languages p {
	font-size: 1.3rem;
	font-weight: 800;
	color: #45367E;
}

.card-languages img {
	max-width: 4.5rem;
	max-height: 4.5rem;
}

/*Responsive*/
@media (max-width: 1328px) {
	.card-languages {
		width: 22rem;
	}
}

@media (max-width: 1275px) {
	.card-languages {
		width: 21rem;
	}
}

@media (max-width: 1223px) {
	.card-languages {
		width: 20rem;
	}
}

@media (max-width: 1170px) {
	.card-languages {
		width: 19rem;
	}
}

@media (max-width: 1118px) {
	.card-languages {
		width: 18rem;
	}
}

@media (max-width: 1066px) {
	.card-languages {
		width: 17rem;
	}
}

@media (max-width: 1014px) {
	.card-languages {
		width: 16rem;
	}
}

@media (max-width: 961px) {
	.card-languages {
		width: 15rem;
	}
}

@media (max-width: 910px) {
	.card-languages {
		width: 14rem;
	}
}

@media (max-width: 858px) {
	.card-languages {
		width: 13rem;
	}
}

@media (max-width: 803px) {
	.card-languages {
		width: 12rem;
	}
}

@media (max-width: 753px) {
	.card-languages {
		width: 11rem;
	}
}

@media (max-width: 701px) {
	.card-languages {
		width: 10rem;
	}
}

@media (max-width: 646px) {
	.card-languages {
		width: 9rem;
	}

	.card-languages h3 {
		font-size: 1.6rem;
	}

	.card-languages p {
		font-size: 1.25rem;
	}
}

@media (max-width: 596px) {
	.card-languages {
		width: 8rem;
	}

	.card-languages h3 {
		font-size: 1.4rem;
	}

	.card-languages p {
		font-size: 1.25rem;
	}
}

@media (max-width: 560px) {
	.card-languages {
		width: 7rem;
	}

	.card-languages h3 {
		font-size: 1.15rem;
	}

	.card-languages p {
		font-size: 1rem;
	}
}

@media (max-width: 505px) {
	.card-languages {
		width: 6.5rem;
	}

	.card-languages img {
		max-width: 4rem;
		max-height: 4rem;
	}

	.card-languages h3 {
		font-size: 1.05rem;
	}
}

@media (max-width: 485px) {
	.card-languages {
		width: 6rem;
	}

	.card-languages img {
		max-width: 3.75rem;
		max-height: 3.75rem;
	}

	.card-languages h3 {
		font-size: 0.95rem;
	}

	.card-languages h3 {
		font-size: 0.9rem;
	}
}

@media (max-width: 455px) {
	.card-languages {
		width: 5.5rem;
	}

	.card-languages img {
		max-width: 3.25rem;
		max-height: 3.25rem;
	}

	.card-languages h3 {
		font-size: 0.8rem;
	}

	.card-languages p {
		font-size: 0.75rem;
	}
}

@media (max-width: 430px) {
	.card-languages {
		width: 5rem;
	}

	.card-languages img {
		max-width: 2.8rem;
		max-height: 2.8rem;
	}

	.card-languages h3 {
		font-size: 0.7rem;
	}

	.card-languages p {
		font-size: 0.75rem;
	}
}

@media (max-width: 405px) {
	.card-languages {
		width: 4.5rem;
	}

	.card-languages img {
		max-width: 2.2rem;
		max-height: 2.2rem;
	}

	.card-languages h3 {
		font-size: 0.6rem;
	}

	.card-languages p {
		font-size: 0.65rem;
	}
}

@media (max-width: 380px) {
	.card-languages {
		width: 15rem;
	}

	.card-languages img {
		max-width: 6rem;
		max-height: 6rem;
	}

	.card-languages h3 {
		font-size: 2rem;
	}

	.card-languages p {
		font-size: 1.5rem;
	}
}

@media (max-width: 340px) {
	.card-languages {
		width: 13rem;
	}
}

@media (max-width: 315px) {
	.card-languages {
		width: 11rem;
	}
}

@media (max-width: 280px) {
	.card-languages {
		width: 9rem;
	}

	.card-languages img {
		max-width: 5.5rem;
		max-height: 5.5rem;
	}

	.card-languages h3 {
		font-size: 1.5rem;
	}

	.card-languages p {
		font-size: 1.25rem;
	}
}

@media (max-width: 252px) {
	.card-languages {
		width: 8rem;
	}

	.card-languages h3 {
		font-size: 1.3rem;
	}

	.card-languages p {
		font-size: 1.05rem;
	}
}

@media (max-width: 220px) {
	.card-languages {
		width: 7rem;
		margin-left: -0.15rem;
	}

	.card-languages img {
		max-width: 4.75rem;
		max-height: 4.75rem;
	}

	.card-languages h3 {
		font-size: 1.1rem;
	}

	.card-languages p {
		font-size: 0.9rem;
	}
}

@media (max-width: 180px) {
	.card-languages {
		width: 6rem;
		margin-left: -0.15rem;
	}

	.card-languages img {
		max-width: 3.75rem;
		max-height: 3.75rem;
	}

	.card-languages h3 {
		font-size: 0.85rem;
	}

	.card-languages p {
		font-size: 0.7rem;
	}
}

/*# sourceMappingURL=idiom.css.map */