$color-letra: #C8B8ED;
$color-secundario: #B130FA;
$color-destacable: #FF1CC1;
$fuente-tipica: sans-serif, Helvetica, Arial;

h1{
	color: $color-destacable;
	font-family: $fuente-tipica;
}

h2{
	color: $color-secundario;
}

p{
	color: $color-letra;
	font-size: 1.03rem;
	font-weight: 500;
}